.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }

    &__content {        
        @include center--Hoz-vrt;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        // display: table;
        overflow: hidden;
        display: flex;
        align-items: center;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.2) !important;  
        transition: all .5s .2s;    
        
        @include respond(tab-land) {}
        
        @include respond(tab-port) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
        
    }

    &__left {
        width: calc(100% / 3);
        // width: 33.33333%;
        // display: table-cell;

        @include respond(tab-land) {}
        
        @include respond(tab-port) {
            width: 100%;
            margin-bottom: -1rem;
        }

        @include respond(phone) {
            display: none;
        }

    }

    &__right {
        width: calc(100% / 1.4);
        padding: 3rem 5rem;
        // width: 66.66666%;
        // display: table-cell;
        // vertical-align: middle;

        @include respond(tab-land) {}
        
        @include respond(tab-port) {
            width: 100%;
            text-align: center
        }
        
    }

    &__img {
        display: block;
        width: 100%;

        @include respond(tab-land) {}
        
        @include respond(tab-port) {
            float: left;
            width: 50%;
        }
        
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -webkit-column-count: 2;
          column-count: 2;
        -webkit-column-gap: 4rem;
                column-gap: 4rem;
        -webkit-column-rule: 1px solid $color-grey-light-2;
                column-rule: 1px solid $color-grey-light-2; 

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto; 
    }

    //Open States
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1) !important;
    }

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
        }

        &:hover {
            color: $color-primary;
        }
    }
}